<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDP77yUZRP7KoPG5gKdTItRtK1FtTLHesY</string>
	<key>GCM_SENDER_ID</key>
	<string>253610407518</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yuksalish.boss</string>
	<key>PROJECT_ID</key>
	<string>yuksalish-boss-notification</string>
	<key>STORAGE_BUCKET</key>
	<string>yuksalish-boss-notification.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:253610407518:ios:2f4911df8bc117a10ee6cf</string>
</dict>
</plist>